/*font-family: 'Tilt Neon', cursive;
font-family: 'Tilt Warp', cursive;
font-family: 'Coiny', cursive;*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e9f7f0;
  color: #047857;
  padding: 48px 64px;
}

.hidden{
  display: none !important;
}

.container{
 max-width: 1400px;
 margin: 0 auto;
}

.header{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header{
    flex-direction: column;
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img{
  height: 68px;
  width: 68px;
}

.main{
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main{
    grid-template-columns: 1fr;
  }
}

h1{
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
}

@media (max-width: 600px) {

  .logo{
    margin-bottom: 20px;
  }

  .logo img{
    height: 45px;
    width: 45px;
  }

  h1{
    padding: 0; 
    margin: auto;
    font-size: 30px;
  }
}

.category{
  margin-bottom: 16px;
}

.quote{
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Tilt Neon', sans-serif;
  background-color: #ecfdf5;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .quote{
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag{
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Tilt Neon', sans-serif;
  color: rgb(0, 0, 0);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 70px;
}

.vote-buttons{
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button{
  border: none;
  background-color: #ccfbf1;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 70px;
  font-family: inherit;
  cursor: pointer;
}

.vote-buttons button:hover{
  background-color: #61eecf;
  transition: 0.3s;
}

ul{
  list-style: none;
}

.source,
.source:visited{
  color: #5eead4;
  text-decoration: none;
  transition: 0.4s;
}

.source:hover,  
.source:active{
  color: burlywood;
}

.btn{
  border: none;
  font-family: 'Tilt Neon', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 13px;
  color: black;
  background-color: #a7f3d0;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  color: white;
  background-color: black;
  transition: 0.3s;
}

.btn-large{
  font-size: 18px;
}

.btn-all{
  margin-bottom: 16px;
  width: 100%;
}

.btn-other{
  width: 100%;
}

.quote-form .btn-large{
  background-color: #def5eb;
}

.quote-form{
  background-color: #baf3d9;
  margin-bottom: 40px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 10px;
}

.quote-form input,
.quote-form select{
  max-width: auto;
  background-color: #f5f8f7;
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
  font-family: inherit; 
}

.quote-form input::placeholder{
  color: rgb(80, 78, 78);
}

.quote-form input:first-child {
  flex-grow: 1;
}

.quote-form span{
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body{
    padding: 32px 35px;
  }
  
  .quote-form{
    flex-direction: column;
    align-items: stretch;
  }

  .quote-form input,
  .quote-form select{
    width: auto;
  }

  .quote-form span{
    margin: 0 18px;
  }
}