@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: darkslategray;
  background-color: rgb(148, 187, 231);
}

img{
  height: 400px;
  max-width: 100%;
  padding: 15px 0;
}

h1, h2{
  margin-bottom: 15px;
}

ul{
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar{
  background-color: rgb(117, 159, 236);
  color: rgb(255, 255, 255);
  height: 60px;
}

.navbar .logo{
  font-size: x-large;
  font-weight: bold;  
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover{
  color: aquamarine;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
}

.navbar ul li {
  margin-left:20px;
}

.header {
  background-color: rgb(72, 133, 202);
  color: rgb(253, 253, 253);
  min-height: 400px;
}

.header h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img{
  width: 100%;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.box .container {
  display: flex;
  justify-content: space-between;
}

.cards {
  flex: 1;
  background-color: rgb(95, 150, 231);
  color: rgb(253, 253, 253);
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
}

.showmenu ul li {
  border: 1px solid rgb(170, 170, 248);
  margin: 10px;
  text-align: center;
}

.showmenu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.showmenu a:hover{
  color: aquamarine;
}

.sidemenu{
  display: none;
}

.fas{
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
}

@media(max-width: 768px){
  .header .container{
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .box .container{
    display: block;
    text-align: center;
  }
}

@media (min-width: 501px) {
  .navbar .container .fas{
    display: none;
  }

  .nav2{
    display: none;
  }
}

@media (max-width: 500px) {
  .nav{
    display: none;
  }

  .navbar .logo{
    font-size: 25px;
    font-weight: bold;  
  }
}
